#content {
	width: 99%; 
	min-width: 480px; 
	margin: auto auto;
}

#first-block {
	background-color: #37abc8
}

p {
	line-height: 1.7;
	padding: 5% 10% 5% 10%;
	text-align: center;
	font-family: Libre Baskerville, Serif;
	font-size: 1em;
	max-width: 720px;
        margin: auto auto;
}
#first-paragraph {
	color: white; 
	text-align: justify; 
}

#second-paragraph {
	color: #37abc8; 
}

#email-paragraph {
	color: #909090; 
	font-size: 0.8em;
}

#tagline {
	text-align: center;
	width: 70%;
	max-width: 480px;
	text-transform: uppercase;
	margin-right:auto;
	margin-left: auto;
	color: #707070;
	padding-top: 2%;
	font-family: 'Libre Baskerville', serif;
	line-height: 1.5em;
	font-size: 1.7em;
	padding-bottom: 2%;
		opacity: 0;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;
	animation-delay:0.2s;
	-webkit-animation-delay:0.2s;
	   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

article {

	padding-top: 2%;
	text-decoration: none;
	opacity: 0;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
	   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

article > h3 {
	color: #444444;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#fadein {

}

#img {
width: 50%;
margin: 0 auto;
  padding-top: 5%;
 }

.icon {
	background: url('menu-icon.png') no-repeat;
	width: 16px;
	height: 15px;
	display:inline-block;
	vertical-align: middle;
}

.menu-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f7f7f7) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f7f7f7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7');
	background-color:#ffffff;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0px;
	border:1px solid #e0e0e0;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:41px;
	width:36px;
	text-decoration:none;
	text-align:center;
}
.menu-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff');
	background-color:#f7f7f7;
}

.menu-button:active {
	position:relative;
	top:1px;
}

#button-container {
	float: left;
	padding-top: 12px;
	padding-left: 12px;
}

#content {
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	background-color: white;
	height: 100%;
}

body {
	background-color: #fefefe;
	margin: auto auto;
}

#signup-form {
	/*width: 50%;*/
 /*       margin: auto auto;*/
 /*       min-width: 315px;*/
 /*       padding-left: 33%;*/
}

input.button {
	background-color:#37abc8;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	text-indent:0px;
	border:1px solid #37abc8;
	display:inline-block;
	color:white;
	font-family: Helvetica, Arial, Sans-serif;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:41px;
	width:90px;
	text-decoration:none;
	text-align:center;
	line-height: 2;
	font-size: 0.8em;
	-webkit-appearance: none;
}

div.mc-field-group input {
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	border:1px solid #e0e0e0;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 0px;

}

#mce-EMAIL {
	height: 26px;
}

div.mc-field-group input {
    float:left;
}

::-webkit-input-placeholder {
   font-size: 0.8em;
}

:-moz-placeholder { /* Firefox 18- */
font-size: 0.8em;}

::-moz-placeholder {  /* Firefox 19+ */
font-size: 0.8em;}

:-ms-input-placeholder {  
font-size: 0.8em;}

#mc_embed_signup {
	width: 25%;
margin: auto auto;
min-width: 315px;
}
