#content {
    width: 70%;
    max-width: 720px;
    margin: auto;
}

#first-block {
    background-color: #37abc8;
}

p {
    line-height: 1.7;
    padding: 5% 10%;
    text-align: center;
    font-family: Libre Baskerville, Serif;
    font-size: 1em;
}

#first-paragraph {
    color: #FFF;
    text-align: justify;
}

#second-paragraph {
    color: #37abc8;
}

#email-paragraph {
    color: #909090;
    font-size: .8em;
}

#tagline {
    text-align: center;
    width: 70%;
    max-width: 480px;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    color: #707070;
    padding-top: 2%;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
    font-size: 1.7em;
    padding-bottom: 2%;
    opacity: 0;
    -webkit-animation: fadein 1s;
/* Safari and Chrome */
    -moz-animation: fadein 1s;
/* Firefox */
    -ms-animation: fadein 1s;
/* Internet Explorer */
    -o-animation: fadein 1s;
/* Opera */
    animation: fadein 1s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
/*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards;
/*FF 5+*/
    -o-animation-fill-mode: forwards;
/*Not implemented yet*/
    -ms-animation-fill-mode: forwards;
/*IE 10+*/
    animation-fill-mode: forwards;
/*when the spec is finished*/
}

article {
    padding-top: 2%;
    text-decoration: none;
    opacity: 0;
    -webkit-animation: fadein 2s;
/* Safari and Chrome */
    -moz-animation: fadein 2s;
/* Firefox */
    -ms-animation: fadein 2s;
/* Internet Explorer */
    -o-animation: fadein 2s;
/* Opera */
    animation: fadein 2s;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
/*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards;
/*FF 5+*/
    -o-animation-fill-mode: forwards;
/*Not implemented yet*/
    -ms-animation-fill-mode: forwards;
/*IE 10+*/
    animation-fill-mode: forwards;
/*when the spec is finished*/
}

article > h3 {
    color: #444;
}

@keyframes fadein {
    fromopacity: 0;
}

to {
    opacity: 1;
}    

}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    fromopacity: 0;
}

to {
    opacity: 1;
}    

}

#fadein {
}

#img {
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

#content {
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    background-color: #FFF;
    height: 100%;
}

body {
    background-color: #fefefe;
    margin: auto;
}

#signup-form {
    width: 50%;
    margin: 0 auto;
    min-width: 315px;
}

input.button {
    background-color: #37abc8;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    text-indent: 0;
    border: 1px solid #37abc8;
    display: inline-block;
    color: #FFF;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    height: 30px;
    line-height: 41px;
    width: 90px;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    font-size: .8em;
}

div.mc-field-group input {
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #e0e0e0;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0;
}

div.mc-field-group input {
    float: left;
}

::-webkit-input-placeholder {
    font-size: .8em;
}

:-moz-placeholder {
/* Firefox 18- */
    font-size: .8em;
}

::-moz-placeholder {
/* Firefox 19+ */
    font-size: .8em;
}

:-ms-input-placeholder {
    font-size: .8em;
}
